<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prolio</title>

    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1><a href="{{ baseUrl() }}">Prolio</a> <small>alpha</small></h1>

    <p><a href="{{ urlFor('projects') }}">Projets</a></p>

    {% block content %} {% endblock %}
  </body>
</html>