{% set active_page = "projects" %}
{% extends "_base.twig" %}
{% block content %}
    <h2>Liste des projets</h2>
    <ul>
        {% for project in projects %}
            <li><a href="{{ urlFor('project', {"id": project.id}) }}">{{ project.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
