{% extends "backend/_base.twig" %}
{% block content %}
    <h2>Panneau d'administration</h2>
    <p>Vous avez <a href="{{ urlFor('project_list') }}">{{ nbProjects }} projet{% if nbProjects > 1 %}s{% endif %}</a>.</p>
{% endblock %}
