{% extends "backend/_base.twig" %}
{% block content %}
    <h2>Accueil admin</h2>

    <form action="{{ urlFor('admin') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="content">Contenu de la page d'accueil</label>
            <textarea class="form-control" name="content" id="content" rows="5" required>{{ post ? post.contenu : page.content }}</textarea>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Enregistrer" >
        </div>
    </form>
{% endblock %}
