{% extends "_base.twig" %}
{% block content %}
    <div class="jumbotron">
        <div class="content">{{ page.content|nl2br }}</div>
        <p><a href="{{ urlFor('projects') }}" class="btn btn-primary btn-lg" role="button">Découvrir les projets</a></p>
    </div>
{% endblock %}
